#divDados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 200px;
    width: 250px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#mostraDados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
}